<center>
<h1>Announcements</h1>
<%= link_to("Check out our website here", 'https://feminism4aggies.wixsite.com/tamu')%>
<br>
<% if @is_admin %>
  <%= link_to("Manage Members", {:controller => 'members', :action=>'index'})%>
  <%= link_to("Manage Meetings", {:controller => 'meetings', :action=>'index'})%>
  <h3>New Announcement</h3>

  <% if @error %>
    <p><b><%= @error %></b></p>
  <% end %>

  <%= form_for(@announcement) do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>
  <%= f.submit('Post') %>
  <% end %>
  <br>
<% end %>

<% @announcements.each do |announcement| %>
  <b><%= announcement.title %></b>
  <br>
  <%= announcement.message %>
  <br>
  <% if @is_admin %>
    <%= link_to('edit', edit_announcement_path(announcement), :class => 'action edit') %>
    <%= link_to('delete', delete_announcement_path(announcement), :class => 'action delete') %>
    <br>
  <% end %>
  <br>

<% end %>
</center>
