<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>
    <p id="notice"><%= notice %></p>
    <h1>Posts</h1>
    <%= link_to 'New Post', new_post_path, :class => 'underline' %>
    <br><br>
    <% @posts.each do |post| %>
      <div class='box'>
        <b><%= post.title %></b>
        <p><%= post.body %></p>
        <!-- heart button goes here -->
        <br>
        <p style="display:inline">Likes: <%= post.likes %></p><br>
        <% if(Like.exists?(:member_id => 1, :post_id => post.id)) %>
          <% @like = Like.find_by(member_id: 1, post_id: post.id) %>
          <%= link_to('Un-like', delete_like_path(@like, :post_id => post.id, :member_id => 1), data: { confirm: 'Are you sure?' }, :class => 'underline') %>
        <% else %>
          <%= link_to('Like', likes_path(:like => @like, :post_id => post.id, :member_id => 1), method: :create, :class => 'underline') %>
        <% end %>
        <% if true %>
          <!--- <%= link_to 'Show', post, :class => 'underline' %> -->
          <%= link_to 'Edit', edit_post_path(post), :class => 'underline' %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'underline' %>
        <% end %>
      </div>
    <% end %>

    <br>
  </div>
</div>
