<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>
    <%= link_to 'Back', members_path, :class => 'underline'%>
    <br>
    <br>
    <p id="notice"><%= notice %></p>

    <div class='box'>
      <p>
        <strong>Name:</strong>
        <%= @member.name %>
      </p>

      <p>
        <strong>Points:</strong>
        <%= @member.totalPoints %>
      </p>

      <p>
        <strong>Admin:</strong>
        <%= @member.isAdmin ? 'Yes' : 'No' %>
      </p>

      <p>
        <strong>Owner:</strong>
        <%= @member.isOwner ? 'Yes' : 'No' %>
      </p>
    </div>
  </div>
</div>
