<div class='wrapper'>
  <%= render(:partial => 'navbar', :locals => {:is_logged_in => true}) %>
  <div class='container'>
    <p id="notice"><%= notice %></p>

    <h2><%= @member.name %></h2>
    <br>
    <div class='box'>
      <p>
        <strong>Points:</strong>
        <%= @member.totalPoints %>
      </p>

      <p>
        <strong>Admin:</strong>
        <%= @member.isAdmin ? 'Yes' : 'No' %>
      </p>

      <p>
        <strong>Owner:</strong>
        <%= @member.isOwner ? 'Yes' : 'No' %>
      </p>
    </div>
    <br>
    <%= link_to 'Back', members_path, :class => 'underline'%>
  </div>
</div>
